@inherits LayoutComponentBase


<div class="page">

    <nav class="navbar navbar-dark bg-danger shadow-sm mb-4">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">PokéManager</a>
        </div>
    </nav>


    <main>
        @Body
    </main>


</div>